<html>
	<head>
		<title>Events</title>

        <link href="https://whispering-earth-86255.herokuapp.com/styles" rel="stylesheet" type="text/css">

  <Style>
    .overlay {
      position: absolute;
  
    }
  
    
  
  
  
    .HyperlinkImageText{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
  
  
  
  
    h2{
      text-align: center;
      font-size: 45px;
      color: purple;
      font-family: 'Roboto Condensed', sans-serif;
    }
  
    .homepageInfo{
      background-color: white;
      margin-right: 20px;
      margin-left:20px;
    }
    
    h3{
      text-align:left;
      font-size:30px;
      color: purple;
      font-family: 'Roboto Condensed', sans-serif;
    }
    h4{
      text-align: left;
      font-size: 15px;
      color:purple;
      font-family: 'Roboto Condensed', sans-serif;
    }
  
  
  
    .list ul{
        align-items: center;
        align-self: center;
        margin:0;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    
        /* transform:  translate(-50%, -50%); */
        width: 400px;
        border-radius: 10px;
        position: center;
        display: inline-block;
        position:relative;
        display: inline-block;  
        list-style: none;
 
        text-align: center;
        margin: auto;
        

    }

    

    .list li{
        align-items: center;
        position: center;
        left:33.3%;
    }
  
    .myEvents{
      width: 33.3%;
    border: 10px solid gray;
    padding: 20px;
    margin: 10px;
    }
    
    h3{
      font-size: 20;
    }
        
    </Style> 


</head>
<body>

    <header>
        <div class = "container">
            <a class = "NavBarTitle" href ="https://whispering-earth-86255.herokuapp.com/">Love For The Uglies</a>
            <nav>
                <ul>
                    <li><a href = "https://whispering-earth-86255.herokuapp.com/">Home</a></li>
                    <li><a href = "https://whispering-earth-86255.herokuapp.com/comments">Comments</a></li>
                    <li><a href = "https://whispering-earth-86255.herokuapp.com/events">Events</a></li>
                    <li><a href = "https://whispering-earth-86255.herokuapp.com/settings">Settings</a></li>
                </ul>
            </nav>
        </div>


        <hr>
<div class = "myEvents">
<h3>My Events</h3>
<h4>You have signed up for the event " <%= event %>"</h4>
</div>


<hr>
<div class = "list">
      
        <ul>
            <h2> Events</h2>
            <li>
                <div class="date">
                    <h4>Dog Event</h4>
                </div>
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut sit amet arcu cursus mi molestie varius. Duis nec ullamcorper
                         sem. Vivamus a sem lorem. Suspendisse cursus nibh posuere urna</p>
                         <form method="POST" action = "/addEvent">
                        <label for = "eventname"></label><input type = "hidden" id = "myEvents" name = "myEvents" value="Dog Event"></input></p>
                         <button input type = "submit" name = "event1" id = "event1" >Sign Up!</input></button>
                        </form>
            </li>
            <hr>
            <li>
                <div class="date">
                    <h4>Frog Event</h4>
                </div>
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut sit amet arcu cursus mi molestie varius. Duis nec ullamcorper
                         sem. Vivamus a sem lorem. Suspendisse cursus nibh posuere urna</p>
                         <form method="POST" action = "/addEvent">
                          <label for = "eventname"></label><input type = "hidden" id = "myEvents" name = "myEvents" value="Frog Event"></input></p>
                         <button input type = "submit" name = "event2" id = "event2">Sign Up!</input></button>
                         </form>
            </li>
            <hr>
            <li>
                <div class="date">
                    <h4>All Uglies Event</h4>
                </div>
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut sit amet arcu cursus mi molestie varius. Duis nec ullamcorper
                         sem. Vivamus a sem lorem. Suspendisse cursus nibh posuere urna</p>
                         <form method="POST" action = "/addEvent">
                          <label for = "eventname"></label><input type = "hidden" id = "myEvents" name = "myEvents" value= "All Uglies Event"></input></p>
                         <button input type = "submit" name = "event3" id = "event3">Sign Up!</input></button>
                         </form>
            </li>
            <hr>
            <li>
                <div class="date">
                    <h4>Rat Event</h4>
                </div>
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut sit amet arcu cursus mi molestie varius. Duis nec ullamcorper
                         sem. Vivamus a sem lorem. Suspendisse cursus nibh posuere urna</p>
                         <form method="POST" action = "/addEvent">
                          <label for = "eventname"></label><input type = "hidden" id = "myEvents" name = "myEvents" value="Rat Event"></input></p>
                         <button input type = "submit" name = "event4" id = "event4">Sign Up!</input></button>
                        </form>
                        </li>
            <hr>
            <li>
                <div class="date">
                    <h4>Frog Event 2</h4>
                </div>
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut sit amet arcu cursus mi molestie varius. Duis nec ullamcorper
                         sem. Vivamus a sem lorem. Suspendisse cursus nibh posuere urna</p>
                         <form method="POST" action = "/addEvent">
                          <label for = "eventname"></label><input type = "hidden" id = "myEvents" name = "myEvents" value="Frog Event 2"></input></p>
                         <button input type = "submit" name = "event5" id = "event5">Sign Up!</input></button>
                         </form>
            </li>
            <hr>
            <li>
                <div class="date">
                    <h4>All Uglies Event 2</h4>
                </div>
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut sit amet arcu cursus mi molestie varius. Duis nec ullamcorper
                         sem. Vivamus a sem lorem. Suspendisse cursus nibh posuere urna</p>
                         <form method="POST" action = "/addEvent">
                          <label for = "eventname"></label><input type = "hidden" id = "myEvents" name = "myEvents" value="All Uglies Event 2"></input></p>
                         <button input type = "submit" name = "event6" id = "event6">Sign Up!</input></button>
                         </form>
            </li>
            <hr>
            <li>
                <div class="date">
                    <h4>Bird Event</h4>
                </div>
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Ut sit amet arcu cursus mi molestie varius. Duis nec ullamcorper
                         sem. Vivamus a sem lorem. Suspendisse cursus nibh posuere urna</p>
                         <form method="POST" action = "/addEvent">
                          <label for = "eventname"></label><input type = "hidden" id = "myEvents" name = "myEvents" value="Bird Event"></input></p>
                         <button input type = "submit" name = "event7" id = "event7">Sign Up!</input></button>
                         </form>
            </li>
            <hr>
        </ul>
      
    
    </div>



<footer>
    <div class="navbar">
      <a class="active" href="https://whispering-earth-86255.herokuapp.com/">Home</a>
      <a href="https://whispering-earth-86255.herokuapp.com/comments">Comments</a>
      <a href="https://whispering-earth-86255.herokuapp.com/events">Events</a>
      <a href="https://whispering-earth-86255.herokuapp.com/settings">Settings</a>
      
  </div>
  </footer>


</body>
</html>