<html>
<div class = "list">
    <ul>
        <h2>Users</h2>
        <li>
            <%usersList.forEach(user =>{%>
                <li>
                    <p><%=user.firstname%></p>
                </li>
                <hr>
            <%})%>
        </li>
    </ul>


</div>

</html>